PORT = 34873847
CORS_ORIGIN = dfjhksjdbsdkjhdfhkj
MONGODB_URI = fjhskjdfhskdfhskjdfj
ACCESS_TOKEN_SECRET=skdjfhaskjdfhsakdjfh
ACCESS_TOKEN_EXPIRY=fksdfjsdkf
REFRESH_TOKEN_SECRET=dnoiewpjkldmfkj
REFRESH_TOKEN_EXPIRY=hfkhfsdkjfhsdkh